[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
scrapy = "*"
beautifulsoup4 = "*"
requests-cache = "*"
newspaper3k = "*"
torrequest = "*"

[requires]
python_version = "3.7"
